# ROS2
aris/build/
aris/install/
aris/log/
aris/.vscode/

# Ignore Keras model files
aris/src/kiosk_package/models/*.keras
aris/src/kiosk_package/models/*.hdf5

aris/src/db_package/db_package/config/database_config.yaml
